/* INCLUDE */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* END INCLUDE */

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.font-besley{
  font-family: 'Besley', serif;
}

.font-montserrat{
  font-family: 'Montserrat', sans-serif;
}

.bg-orange-gruv{
  background-color: #FF5A00;
}

.bg-gray-gruv{
  background-color: #212121;
}
